html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, .app, .sidebar {
    min-height: 100vh;
}

.link {
    @apply no-underline text-grey-darker;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
