html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, .app, .sidebar {
    min-height: 100vh;
}

.link {
    @apply no-underline text-grey-darker;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.table td, .table th {
    @apply py-2 border-b;
}

.table tr:last-of-type td {
    @apply border-b-0;
}

.money {
    @apply inline-flex font-bold;
}

.money:before {
    content: '₱';
    margin-right: 1px;

    @apply font-normal;
}

.money:after {
    content: '.00';
    font-size: 0.8em;
}
