.field {
    @apply relative;
}

.field-label {
    font-size:     14px;

    @apply block font-semibold mb-2;
}

.field-input {
    outline: none;
    resize:  none;

    @apply border border-grey-lighter bg-white text-14 rounded-sm w-full p-3;
}

.field-input[readonly] {
    @apply .bg-grey-light;
}

.field-message {
    font-size: .875em;
    font-style: italic;
    margin: 0;
    margin-top: 0.5em;
}

.field.has-error .field-input {
    border-color: #FFB263;
    background-color: #FFF0D1;
}

.field.has-success .field-input {
    border-color: var(--green);
    background-color: #D4FFD1;
}

.field-hint {
    @apply .p-14 .bg-grey-light .text-14 .italic;
}

.field-message.is-error   { color: #FFB263; }
.field-message.is-success { color: var(--green); }
