@media(max-width: config('screens.md')) {
    .sidebar, .body {
        transition: transform .25s ease-in-out;
    }

    .app.sidebar-open .body {
        transform: translateX(config('width.sidebar'));
    }

    .sidebar {
        transform: translateX(calc(-1 * config('width.sidebar')));
    }

    .sidebar.is-open {
        transform: translateX(0);
    }
}

.sidebar-link.is-active {
    @apply bg-primary text-white;

    &:hover {
        @apply bg-primary;
    }
}
