html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, .app-wrapper, .app-sidebar {
    min-height: 100vh;
}

body {
    @apply .bg-offwhite;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

table {
    margin: 0;
    padding: 0;
}

.table td, .table th {
    @apply .py-2 .border-b;
}

.table tr:last-of-type td {
    @apply .border-b-0;
}
