html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, .app-wrapper, .app-sidebar {
    min-height: 100vh;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.table td, .table th {
    @apply .py-2 .border-b;
}

.table tr:last-of-type td {
    @apply .border-b-0;
}

.money {
    @apply .inline-flex .font-bold;
}

.money:before {
    @apply .font-normal;

    content: '₱';
    margin-right: 1px;
}

.money:after {
    content: '.00';
    font-size: 0.8em;
}
