.app-page > .header {
    display: grid;
    grid-column-gap: 24px;

    > .title {
        @apply .ms-2xl;

        letter-spacing: -0.03em;
    }

    > .caption {
        @apply .text-grey-darker;
    }

    > .caption > p + p {
        @apply .mt-2;
    }

    > .call-to-action {
        @apply .mt-4;
    }
}

@screen sm {
    .app-page > .header {
        grid-template-columns: auto auto;

        > .title {
            grid-column: 1;
            grid-row: 1;
        }

        > .caption {
            grid-column: 1;
            grid-row: 2;
        }

        > .call-to-action {
            grid-column: 2;
            grid-row: span 2;
            width: 100%;
            max-width: 200px;

            @apply .mt-0 .self-center .ml-auto .w-full;
        }
    }
}
