.app-sidebar {
    @apply .flex-no-shrink .flex-no-grow;
    @apply .py-6 .bg-offwhite .w-sidebar .fixed .pin .z-50;

    > .title {
        @apply .px-8 .text-black .text-19 .mb-6;

        letter-spacing: -0.011em;
    }

    > .navigation {
        @apply .text-14 .text-white;
    }
}

.current-user {
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 30px 30px;

    @apply .px-8;

    > .avatar {
        grid-row: span 2;

        @apply .rounded-full .h-10 .self-center;
    }

    > .name {
        grid-row: 1;
        grid-column: 2;

        @apply .font-bold .text-14 .flex .self-end;
    }

    > .greeting {
        grid-row: 2;
        grid-column: 2;

        @apply .text-12 .text-grey-darker;
    }
}

.sidebar-navigation {
    @apply .tracking-tight;

    > .links {
        @apply .list-reset;
    }

    > .links > .item {
        @apply .px-8 .mb-2 .py-2;
    }

    > .links > .item.-separator {
        @apply .px-6 .my-3;

        &:after {
            @apply .block .bg-grey-light .w-full;

            content: '';
            height: 1px;
        }
    }

    > .links > .item.-active {
        @apply .bg-grey-lighter .border-l-4 .border-blue;

        > .link {
            @apply .-ml-4px;
        }
    }

    > .links > .item > .link {
        @apply .flex .items-center .text-black .font-semibold;
    }

    > .links > .item > .link > .icon {
        @apply .mr-5 .opacity-50;
    }

    > .links > .item > .link:hover {
        @apply .text-primary;
    }
}

@screen md {
    .app-sidebar {
        @apply .block .static;
    }
}
