.form-field {
    @apply .relative;

    > .label {
        @apply .mb-1 .block .font-semibold .text-grey-darkest;
    }

    > .label > .optional {
        @apply .ms-sm .font-normal;
    }

    > .control > .input {
        @apply .border .bg-white .rounded-sm .w-full .p-3 .block .tracking-tight;

        outline: none;
        resize:  none;
    }

    > .control > .tag-input {
        @apply .border .bg-white .rounded-sm .border-grey-light .px-3 .py-2;

        min-height: 39px;

        -webkit-appearance: unset;

        > .input-tag, > input {
            @apply .m-0 .p-0;
        }

        > input {
            @apply .ms-base;
        }

        > .input-tag {
            @apply .px-2 .py-0 .mr-2 .border-0 .bg-blue .text-white .font-medium .mb-1;

            padding-top: 1px;
            padding-bottom: 1px;
        }

        > .input-tag > .remove {
            @apply .hidden;
        }
    }

    > .control > .input[readonly] {
        @apply .bg-grey-light;
    }

    > .control > textarea.input {
        @apply .h-48;
    }

    > .control > .input:focus {
        outline: 1px solid config('colors.primary');
    }

    > .message {
        @apply .italic .m-0 .mt-2 .leading-tight;
    }

    > .hint {
        @apply .px-4 .py-3 .bg-grey-lighter .text-grey-darkest .italic .leading-none .rounded-b-sm;
    }
}

.form-field.-icon {
    > .control {
        @apply .flex;
    }

    > .control > .icon {
        @apply .border .px-4
               .bg-grey-lightest .rounded-sm
               .tracking-tight .text-grey-dark .roman .font-semibold
               .flex .items-center .justify-center;
    }

    &.-left {
        > .control > .input {
            @apply .rounded-l-none;
        }

        > .control > .icon.-left {
            @apply .border-r-0 .rounded-r-none;
        }
    }

    &.-right {
        > .control > .input {
            @apply .rounded-r-none;
        }

        > .control > .icon.-right {
            @apply .border-l-0 .rounded-l-none;
        }
    }
}

.form-field.-error {
    > .control > .input {
        border-color: config('colors.orange');
        background-color: config('colors.orange-light');
    }

    > .message {
        color: config('colors.orange');
    }
}


.form-field.-success {
    > .control > .input {
        border-color: var(--green);
        background-color: #D4FFD1;
    }

    > .message {
        color: var(--green);
    }
}

.form-field.-hint {
    > .control > .input {
        @apply .rounded-b-none;
    }
}
