.search-overlay {
    @apply .absolute .pin .h-full .w-full .z-50 .p-8 .py-16;

    background-color: rgba(255, 255, 255, 0.98);

    > .title {
        @apply .ms-xl .tracking-tight;
    }

    > .caption {
        @apply .text-grey-darker .italic;
    }

    > .close {
        @apply .absolute .ms-xl .text-grey-dark;

        line-height: 0.75;
        top: config('padding.16');
        right: config('padding.8');
    }

    > .close > .shortcut {
        @apply .block .text-14 .no-underline;
    }

    > .input {
        @apply .ms-3xl .mt-8 .font-bold;

        letter-spacing: -0.025em;
        outline: none;

        &::-webkit-input-placeholder {
            @apply .font-bold .text-grey;
        }

        &::-moz-placeholder {
            @apply .font-bold .text-grey;
        }

        &:-ms-input-placeholder {
            @apply .font-bold .text-grey;
        }

        &:-moz-placeholder {
            @apply .font-bold .text-grey;
        }
    }
}

@screen md {
    .search-overlay {
        > .input {
            @apply .font-black;

            letter-spacing: -0.05em;
            font-size: 90px;
        }
    }
}
